Flask
Flask-PyMongo
pymongo
waitress
certifi
python-dotenv
Werkzeug
dnspython
requests
beautifulsoup4
lxml
mongoengine_mate
Flask-Cors
flask-jwt-extended
requests-toolbelt
pytz
Flask-APScheduler
pytest
mongomock
boto3
pydantic[email]
axios
bcrypt
PyJWT
flask_socketio
eventlet
PyPDF2
python-docx
flask-openapi3